#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

ejs-diagram {
  flex: 1;    /* Footer height */
  top: -120px;
}

#footer {
  display: flex;
  justify-content: center;
  position: absolute;
    bottom: 0;
    width: 100%;
}

::ng-deep #diagramcontent {
  overflow: hidden !important;
  position: relative !important;
}

::ng-deep #diagramcontet:focus-visible {
  outline: 0px !important;
}

::ng-deep #diagramcontent {
  top: 00px !important;
}

::ng-deep ejs-diagram, #diagram_diagramLayer_svg {
  height: 600px !important;
}

::ng-deep .diagram_hiddenUserHandleTemplate {
  display: none !important;
}

::ng-deep #diagram:focus-visible {
  outline: #000 auto 1px !important;
}

::ng-deep .modal {
  z-index: 9999 !important;
  background: #00000082;
}

.card-header {
  background-color: #1d5dff !important;
  color: #fff !important;
  border-bottom: 1px solid #e9ecef;
}

.card-body {
  background: #f4f4f4 !important;
}

::ng-deep #diagram_contextMenu {
  position: absolute !important;
  background: #fff;
    padding: 15px;
    list-style: none;
    font-size: 17px;
}

::ng-deep .e-menu-item:hover {
  color: #fff !important;
  background-color: #1d5dff;
  cursor: pointer;
}

::ng-deep .e-menu-item {
  border-radius: 5px;
  padding: 10px;
}


