body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;

}


:host ::ng-deep .clear {
  clear: both;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
